{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="{% static 'favicon2.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <header class="d-flex justify-content-between align-items-center mb-4">
        <a href="{% url 'home' %}" class="text-decoration-none text-dark">
                <h1 class="m-0">Погодный сервис</h1>
        </a>
         <!-- Блок кнопок для авторизации -->
        <div>
            {% if user.is_authenticated %}
                <span class="me-3">Добро пожаловать, {{ user.username }}!</span>
                <a href="{% url 'users:logout' %}" class="btn btn-danger">     Выйти</a>
            {% else %}
                <a href="{% url 'users:authorization' %}" class="btn btn-outline-primary me-2">Авторизация</a>
                <a href="{% url 'users:registration' %}" class="btn btn-primary">          Регистрация</a>
            {% endif %}
        </div>
    </header>


        <!-- Обработка ошибок -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-effect alert-danger"
                role="alert"
                style="border-radius: 8px;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Поле поиска -->
        <div class="mb-4">
            <form method="GET" action="{% url 'search' %}" class="d-flex">
                <input
                    type="text"
                    name="place"
                    class="form-control me-2"
                    value="{%if search_value%}{{search_value}}{%endif%}"
                    placeholder="Введите название локации... {% if not locations %} (Например, Москва) {% endif %}"
                    value="{{ search_query|default:'' }}"
                >
                <button type="submit" class="btn btn-primary">Поиск</button>
            </form>
        </div>

        <!-- Список локаций -->
        {% block locations %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="{% static 'weather/js/alert_effects.js' %}"></script>  -->
</body>
</html>